@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3eaff;
  overflow-x: hidden;
}

.scale-0 {
  transform: scale(0);
  opacity: 0;
}
.scale-1 {
  transform: scale(1);
  opacity: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
